<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" media="screen" href="stylesheet.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/MainController.js"></script>
    </head>

    <body ng-app="myApp" ng-controller="MainController">
        <table>
            <tr ng-repeat="row in array track by $index">
                <td ng-repeat="col in row track by $index" ng-class="col ? 'red' : 'white'" ng-click="switchAliveOrDead($index, $parent.$index)">
                </td>
            </tr>
        </table>

        <button class="btn btn-success" ng-click="start()">Start</button>
        <button class="btn btn-warning" ng-click="stop()">Stop</button>
        <button class="btn btn-danger" ng-click="reset()">Reset</button>
        <div id="dimensionInput">
            Rows: <input type="number" value="20" min="1" max="100" ng-model="rowNum" ng-disabled="playing" ng-change="reset()"/>
            Columns: <input type="number" value="20" min="1" max="100" ng-model="colNum" ng-disabled="playing" ng-change="reset()"/>
        </div>
    </body>
</html>